In [1]:
# Tratamiento de datos
# ==============================================================================
import numpy as np
import pandas as pd
import statsmodels.api as sm
import math

# Preprocesado y modelado
# ==============================================================================
from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import classification_report
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ParameterGrid
from sklearn.inspection import permutation_importance
import multiprocessing

from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import StratifiedKFold

from sklearn.metrics import log_loss
from sklearn.impute import SimpleImputer

from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

import pickle

from datetime import datetime

# Configuración warnings
# ==============================================================================
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv( "/home/bautista/Datos/Machine-Learning-Datos/FeatureEngineering/df_time_series.csv" )
df = df.drop(columns = {'Unnamed: 0', 'Delivery_Year', 'Delivery_Quarter'})
df

,Region,Total_Amount,Años en entregar,Month Created,Product_Name,Opportunity_Owner,"Pricing, Delivery_Terms_Approved","Pricing, Delivery_Terms_Quote_Appr",Decision,Promedio_Region_Por_Quarter,Promedio_Owner_Por_Year_And_Quarter,Lag_1,Delta
0,EMEA,2.773332,0,2,Other,Other,0,1,0,2.496126,2.585640,NaN,3.088401
1,EMEA,2.740425,0,2,Product_Name_210,Other,1,1,0,2.486798,2.545803,2.585640,2.098247
2,EMEA,2.999379,0,3,Product_Name_432,Other,1,1,0,2.499777,2.852610,2.545803,2.583974
3,APAC,2.780462,0,7,Other,Other,0,0,0,2.448872,2.594236,2.852610,1.552569
4,APAC,2.647444,0,2,Product_Name_91,Person_Name_11,1,1,1,2.467621,2.468684,NaN,3.019307
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13578,Americas,2.845924,1,6,Product_Name_488,Person_Name_8,1,1,1,2.544620,2.706302,2.740744,2.097463
13579,Americas,2.819796,1,6,Product_Name_483,Person_Name_8,1,1,1,2.544620,2.706302,2.740744,2.097463
13580,Americas,2.845924,1,6,Product_Name_488,Person_Name_8,1,1,1,2.544620,2.706302,2.740744,2.097463
13581,Americas,3.032890,1,10,Product_Name_445,Person_Name_8,1,1,0,2.544620,2.706302,2.740744,2.097463
13582,Americas,3.048446,1,10,Product_Name_445,Person_Name_8,1,1,0,2.544620,2.706302,2.740744,2.097463

In [3]:
df = df.fillna(0)

In [4]:
df.describe()

,Total_Amount,Años en entregar,Month Created,"Pricing, Delivery_Terms_Approved","Pricing, Delivery_Terms_Quote_Appr",Decision,Promedio_Region_Por_Quarter,Promedio_Owner_Por_Year_And_Quarter,Lag_1,Delta
count,13583.000000,13583.000000,13583.000000,13583.000000,13583.00000,13583.000000,13583.000000,13583.000000,13583.000000,13583.000000
mean,2.651080,0.255025,6.574321,0.569388,0.77332,0.554001,2.449497,2.444527,2.339767,2.183309
std,0.177250,0.466251,3.421165,0.495180,0.41870,0.497094,0.098289,0.142587,0.531066,0.214954
min,0.000000,-1.000000,1.000000,0.000000,0.00000,0.000000,2.219173,1.336753,0.000000,0.000000
25%,2.588674,0.000000,4.000000,0.000000,1.00000,0.000000,2.437621,2.401642,2.389793,2.088779
50%,2.656112,0.000000,6.000000,1.000000,1.00000,1.000000,2.491107,2.465992,2.466176,2.159336
75%,2.753412,0.000000,10.000000,1.000000,1.00000,1.000000,2.499777,2.544160,2.546746,2.217261
max,3.104954,5.000000,12.000000,1.000000,1.00000,1.000000,2.553549,2.973900,2.852610,3.240224

# Encode

In [5]:
Mean_encoded_subject_region = df.groupby(['Region'])['Decision'].mean().to_dict() 

df['Region'] =  df['Region'].map(Mean_encoded_subject_region)

#--------------------------------------------------------------------------------------------

mean_encoded_product = df.groupby("Product_Name")["Decision"].mean().to_dict()

df["Product_Name"] = df["Product_Name"].map(mean_encoded_product)

#--------------------------------------------------------------------------------------------

#Mean_encoded_subject_quarter = df.groupby(['Delivery_Quarter'])['Decision'].mean().to_dict() 

#df['Delivery_Quarter'] =  df['Delivery_Quarter'].map(Mean_encoded_subject_quarter)

#--------------------------------------------------------------------------------------------

Mean_encoded_subject_owner = df.groupby(['Opportunity_Owner'])['Decision'].mean().to_dict() 

df['Opportunity_Owner'] =  df['Opportunity_Owner'].map(Mean_encoded_subject_owner)

# Split

In [6]:
X_test = df.tail(math.floor(df.shape[0]*0.20)).drop(columns = {'Decision'})
y_test = df.tail(math.floor(df.shape[0]*0.20))['Decision']
X_train = df.head(round(df.shape[0]*0.80)).drop(columns = {'Decision'})
y_train = df.head(round(df.shape[0]*0.80))['Decision']
X_train

,Region,Total_Amount,Años en entregar,Month Created,Product_Name,Opportunity_Owner,"Pricing, Delivery_Terms_Approved","Pricing, Delivery_Terms_Quote_Appr",Promedio_Region_Por_Quarter,Promedio_Owner_Por_Year_And_Quarter,Lag_1,Delta
0,0.532255,2.773332,0,2,0.445844,0.000000,0,1,2.496126,2.585640,0.000000,3.088401
1,0.532255,2.740425,0,2,0.283582,0.000000,1,1,2.486798,2.545803,2.585640,2.098247
2,0.532255,2.999379,0,3,0.009174,0.000000,1,1,2.499777,2.852610,2.545803,2.583974
3,0.587888,2.780462,0,7,0.445844,0.000000,0,0,2.448872,2.594236,2.852610,1.552569
4,0.587888,2.647444,0,2,0.900000,0.371429,1,1,2.467621,2.468684,0.000000,3.019307
...,...,...,...,...,...,...,...,...,...,...,...,...
10861,0.587888,2.817755,0,9,0.055556,0.252427,1,1,2.448872,2.594527,2.441786,2.357726
10862,0.587888,2.793234,0,10,0.333333,0.252427,1,1,2.448872,2.594527,2.441786,2.357726
10863,0.587888,2.541749,0,10,0.722798,0.252427,1,1,2.448872,2.594527,2.441786,2.357726
10864,0.587888,2.772403,0,10,0.333333,0.252427,1,1,2.448872,2.594527,2.441786,2.357726
10865,0.587888,2.754085,0,10,0.414286,0.252427,1,1,2.448872,2.594527,2.441786,2.357726

# Random Search

In [7]:
import sklearn as sk
import sklearn.neural_network


lr = 0.001           # learning rate
nn = [2, 16, 8, 1]  # número de neuronas por capa.
nr = [3, 15, 10]
nd = [1,20,6,2]

# Creamos el objeto del modelo de red neuronal multicapa.
modelRegresor = sk.neural_network.MLPRegressor(solver='adam', 
                                     activation = 'logistic',
                                     learning_rate_init=lr,
                                     hidden_layer_sizes=tuple(nn[1:]),
                                     verbose=True,
                                     n_iter_no_change=1000,
                                     batch_size = 64)

In [8]:
def timer(start_time=None):
    if not start_time:
        start_time = datetime.now()
        return start_time
    elif start_time:
        thour, temp_sec = divmod((datetime.now() - start_time).total_seconds(), 3600)
        tmin, tsec = divmod(temp_sec, 60)
        print('\n Time taken: %i hours %i minutes and %s seconds.' % (thour, tmin, round(tsec, 2)))

In [9]:
params = {
        'activation': ['identity', 'logistic', 'tanh', 'relu'],
        'alpha': [0.0001,0.10, 0.001,1, 10],
        'learning_rate': ['constant', 'invscaling', 'adaptive'],
        'hidden_layer_sizes': [tuple(nn[1:]), tuple(nr[1:]), tuple(nd[1:])],
        'learning_rate_init' : [0.1,0.01, 0.001],
        'n_iter_no_change' : [10, 1000, 100, 10000],
        'batch_size' : [64, 100, 200]
        }

In [10]:
folds = 3
param_comb = 5

skf = StratifiedKFold(n_splits=folds, shuffle = True, random_state = 1001)
random_search = RandomizedSearchCV(modelRegresor, param_distributions=params, n_iter=param_comb,scoring='roc_auc', n_jobs=4, cv=skf.split(X_train,y_train), verbose=3, random_state=1001)

# Here we go
start_time = timer(None) # timing starts from this point for "start_time" variable
random_search.fit(X_train, y_train)
timer(start_time) # timing ends here for "start_time" variable

Fitting 3 folds for each of 5 candidates, totalling 15 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  15 out of  15 | elapsed:   57.7s finished

Iteration 1, loss = 1.81114933
Iteration 2, loss = 0.71168308
Iteration 3, loss = 0.47251980
Iteration 4, loss = 0.32832728
Iteration 5, loss = 0.24221854
Iteration 6, loss = 0.18935910
Iteration 7, loss = 0.15643221
Iteration 8, loss = 0.13314376
Iteration 9, loss = 0.11757707
Iteration 10, loss = 0.10706051
Iteration 11, loss = 0.09986258
Iteration 12, loss = 0.09541704
Iteration 13, loss = 0.09247522
Iteration 14, loss = 0.09057594
Iteration 15, loss = 0.08951520
Iteration 16, loss = 0.08853406
Iteration 17, loss = 0.08827133
Iteration 18, loss = 0.08759050
Iteration 19, loss = 0.08728386
Iteration 20, loss = 0.08712352
Iteration 21, loss = 0.08653697
Iteration 22, loss = 0.08618845
Iteration 23, loss = 0.08599126
Iteration 24, loss = 0.08574941
Iteration 25, loss = 0.08584665
Iteration 26, loss = 0.08543501
Iteration 27, loss = 0.08491701
Iteration 28, loss = 0.08498510
Iteration 29, loss = 0.08475467
Iteration 30, loss = 0.08481799
Iteration 31, loss = 0.08393912
Iteration 32, loss = 0.08360619
Iteration 33, loss = 0.08367500
Iteration 34, loss = 0.08462857
Iteration 35, loss = 0.08330587
Iteration 36, loss = 0.08328351
Iteration 37, loss = 0.08345479
Iteration 38, loss = 0.08318666
Iteration 39, loss = 0.08294116
Iteration 40, loss = 0.08245506
Iteration 41, loss = 0.08252954
Iteration 42, loss = 0.08250087
Iteration 43, loss = 0.08207948
Iteration 44, loss = 0.08189645
Iteration 45, loss = 0.08295828
Iteration 46, loss = 0.08168006
Iteration 47, loss = 0.08152367
Iteration 48, loss = 0.08208834
Iteration 49, loss = 0.08166152
Iteration 50, loss = 0.08159624
Iteration 51, loss = 0.08264518
Iteration 52, loss = 0.08134287
Iteration 53, loss = 0.08155604
Iteration 54, loss = 0.08153698
Iteration 55, loss = 0.08074850
Iteration 56, loss = 0.08140171
Iteration 57, loss = 0.08069265
Iteration 58, loss = 0.08135238
Iteration 59, loss = 0.08083390
Iteration 60, loss = 0.08097899
Iteration 61, loss = 0.08161066
Iteration 62, loss = 0.08050933
Iteration 63, loss = 0.08121403
Iteration 64, loss = 0.08105294
Iteration 65, loss = 0.08066856
Iteration 66, loss = 0.08077686
Iteration 67, loss = 0.08126834
Iteration 68, loss = 0.08073486
Iteration 69, loss = 0.08085261
Iteration 70, loss = 0.08117935
Iteration 71, loss = 0.08013873
Iteration 72, loss = 0.08060025
Iteration 73, loss = 0.08074932
Iteration 74, loss = 0.08078675
Iteration 75, loss = 0.08061492
Iteration 76, loss = 0.08186261
Iteration 77, loss = 0.08145851
Iteration 78, loss = 0.08064286
Iteration 79, loss = 0.08017312
Iteration 80, loss = 0.08007822
Iteration 81, loss = 0.08135905
Iteration 82, loss = 0.07993864
Iteration 83, loss = 0.08022269
Iteration 84, loss = 0.08040433
Iteration 85, loss = 0.08129271
Iteration 86, loss = 0.08018405
Iteration 87, loss = 0.08078239
Iteration 88, loss = 0.08067529
Iteration 89, loss = 0.08068106
Iteration 90, loss = 0.08037462
Iteration 91, loss = 0.08063262
Iteration 92, loss = 0.08006779
Iteration 93, loss = 0.08122598
Iteration 94, loss = 0.08106759
Iteration 95, loss = 0.08007123
Iteration 96, loss = 0.08016559
Iteration 97, loss = 0.08074922
Iteration 98, loss = 0.08151885
Iteration 99, loss = 0.08076955
Iteration 100, loss = 0.08035945
Iteration 101, loss = 0.07991514
Iteration 102, loss = 0.08041780
Iteration 103, loss = 0.08044679
Iteration 104, loss = 0.08042140
Iteration 105, loss = 0.08061991
Iteration 106, loss = 0.08076408
Iteration 107, loss = 0.08039262
Iteration 108, loss = 0.08025990
Iteration 109, loss = 0.08173531
Iteration 110, loss = 0.08060167
Iteration 111, loss = 0.08136253
Iteration 112, loss = 0.08052252
Iteration 113, loss = 0.08045690
Iteration 114, loss = 0.08003338
Iteration 115, loss = 0.08047968
Iteration 116, loss = 0.08085365
Iteration 117, loss = 0.08079826
Iteration 118, loss = 0.08002408
Iteration 119, loss = 0.08027367
Iteration 120, loss = 0.08067440
Iteration 121, loss = 0.08037520
Iteration 122, loss = 0.07973852
Iteration 123, loss = 0.08061542
Iteration 124, loss = 0.07970806
Iteration 125, loss = 0.08055039
Iteration 126, loss = 0.08041607
Iteration 127, loss = 0.08187340
Iteration 128, loss = 0.08008616
Iteration 129, loss = 0.08007735
Iteration 130, loss = 0.08066367
Iteration 131, loss = 0.08001562
Iteration 132, loss = 0.08031330
Iteration 133, loss = 0.08073176
Iteration 134, loss = 0.07971700
Iteration 135, loss = 0.08051855
Iteration 136, loss = 0.08047416
Iteration 137, loss = 0.08064222
Iteration 138, loss = 0.08018969
Iteration 139, loss = 0.08010511
Iteration 140, loss = 0.08055133
Iteration 141, loss = 0.07998300
Iteration 142, loss = 0.08008740
Iteration 143, loss = 0.08068982
Iteration 144, loss = 0.08060961
Iteration 145, loss = 0.08037294
Iteration 146, loss = 0.08041587
Iteration 147, loss = 0.08034959
Iteration 148, loss = 0.08023508
Iteration 149, loss = 0.08059956
Iteration 150, loss = 0.08059908
Iteration 151, loss = 0.08066185
Iteration 152, loss = 0.07979988
Iteration 153, loss = 0.08058257
Iteration 154, loss = 0.07982939
Iteration 155, loss = 0.08115179
Iteration 156, loss = 0.08036690
Iteration 157, loss = 0.08090283
Iteration 158, loss = 0.08015564
Iteration 159, loss = 0.08035259
Iteration 160, loss = 0.08062082
Iteration 161, loss = 0.08009627
Iteration 162, loss = 0.08048368
Iteration 163, loss = 0.08030048
Iteration 164, loss = 0.08058821
Iteration 165, loss = 0.08022767
Iteration 166, loss = 0.07996209
Iteration 167, loss = 0.08037013
Iteration 168, loss = 0.08027189
Iteration 169, loss = 0.08006296
Iteration 170, loss = 0.07999467
Iteration 171, loss = 0.08036366
Iteration 172, loss = 0.07979572
Iteration 173, loss = 0.08122274
Iteration 174, loss = 0.08081282
Iteration 175, loss = 0.08087085
Iteration 176, loss = 0.07990523
Iteration 177, loss = 0.08209174
Iteration 178, loss = 0.07980179
Iteration 179, loss = 0.08034542
Iteration 180, loss = 0.07994803
Iteration 181, loss = 0.08028730
Iteration 182, loss = 0.07979772
Iteration 183, loss = 0.08052604
Iteration 184, loss = 0.08094744
Iteration 185, loss = 0.08170498
Iteration 186, loss = 0.08046810
Iteration 187, loss = 0.08150509
Iteration 188, loss = 0.08005445
Iteration 189, loss = 0.08042314
Iteration 190, loss = 0.08037120
Iteration 191, loss = 0.08052068
Iteration 192, loss = 0.08039120
Iteration 193, loss = 0.07976640
Iteration 194, loss = 0.08067111
Iteration 195, loss = 0.08070450
Iteration 196, loss = 0.08048654
Iteration 197, loss = 0.07989009
Iteration 198, loss = 0.08114223
Iteration 199, loss = 0.08030166
Iteration 200, loss = 0.08002184

 Time taken: 0 hours 1 minutes and 5.62 seconds.

In [11]:
print('\n All results:')
print(random_search.cv_results_)
print('\n Best estimator:')
print(random_search.best_estimator_)
print('\n Best normalized gini score for %d-fold search with %d parameter combinations:' % (folds, param_comb))
print(random_search.best_score_ * 2 - 1)
print('\n Best hyperparameters:')
print(random_search.best_params_)
results = pd.DataFrame(random_search.cv_results_)
results
#results.to_csv('xgb-random-grid-search-results-01.csv', index=False)

 All results:
{'mean_fit_time': array([24.82265306, 25.25925215,  9.15331276, 10.6287547 ,  4.09762645]), 'std_fit_time': array([0.4947289 , 2.32881417, 1.73726636, 2.34139674, 0.70209254]), 'mean_score_time': array([0.01242375, 0.01068377, 0.00936476, 0.00783896, 0.00909344]), 'std_score_time': array([0.00014572, 0.00134891, 0.00039552, 0.00166166, 0.00268359]), 'param_n_iter_no_change': masked_array(data=[1000, 1000, 100, 10000, 10],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_learning_rate_init': masked_array(data=[0.1, 0.01, 0.001, 0.001, 0.01],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_learning_rate': masked_array(data=['constant', 'invscaling', 'adaptive', 'constant',
                   'invscaling'],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_hidden_layer_sizes': masked_array(data=[(15, 10), (16, 8, 1), (15, 10), (16, 8, 1), (15, 10)],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_batch_size': masked_array(data=[64, 100, 200, 200, 64],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_alpha': masked_array(data=[10, 0.1, 0.0001, 0.0001, 0.1],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_activation': masked_array(data=['logistic', 'relu', 'identity', 'identity', 'logistic'],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'n_iter_no_change': 1000, 'learning_rate_init': 0.1, 'learning_rate': 'constant', 'hidden_layer_sizes': (15, 10), 'batch_size': 64, 'alpha': 10, 'activation': 'logistic'}, {'n_iter_no_change': 1000, 'learning_rate_init': 0.01, 'learning_rate': 'invscaling', 'hidden_layer_sizes': (16, 8, 1), 'batch_size': 100, 'alpha': 0.1, 'activation': 'relu'}, {'n_iter_no_change': 100, 'learning_rate_init': 0.001, 'learning_rate': 'adaptive', 'hidden_layer_sizes': (15, 10), 'batch_size': 200, 'alpha': 0.0001, 'activation': 'identity'}, {'n_iter_no_change': 10000, 'learning_rate_init': 0.001, 'learning_rate': 'constant', 'hidden_layer_sizes': (16, 8, 1), 'batch_size': 200, 'alpha': 0.0001, 'activation': 'identity'}, {'n_iter_no_change': 10, 'learning_rate_init': 0.01, 'learning_rate': 'invscaling', 'hidden_layer_sizes': (15, 10), 'batch_size': 64, 'alpha': 0.1, 'activation': 'logistic'}], 'split0_test_score': array([0.58352046, 0.5       , 0.8574907 , 0.85772395, 0.85171641]), 'split1_test_score': array([0.47433668, 0.8559625 , 0.85327821, 0.85842276, 0.85132112]), 'split2_test_score': array([0.59384453, 0.86304507, 0.8556882 , 0.85588464, 0.84824954]), 'mean_test_score': array([0.55056723, 0.73966919, 0.85548571, 0.85734378, 0.85042902]), 'std_test_score': array([0.05406767, 0.16949637, 0.00172569, 0.00107049, 0.00154955]), 'rank_test_score': array([5, 4, 2, 1, 3], dtype=int32)}

 Best estimator:
MLPRegressor(activation='identity', batch_size=200,
             hidden_layer_sizes=(16, 8, 1), n_iter_no_change=10000,
             verbose=True)

 Best normalized gini score for 3-fold search with 5 parameter combinations:
0.7146875591376893

 Best hyperparameters:
{'n_iter_no_change': 10000, 'learning_rate_init': 0.001, 'learning_rate': 'constant', 'hidden_layer_sizes': (16, 8, 1), 'batch_size': 200, 'alpha': 0.0001, 'activation': 'identity'}

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_n_iter_no_change,param_learning_rate_init,param_learning_rate,param_hidden_layer_sizes,param_batch_size,param_alpha,param_activation,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,24.822653,0.494729,0.012424,0.000146,1000,0.1,constant,"(15, 10)",64,10,logistic,"{'n_iter_no_change': 1000, 'learning_rate_init...",0.583520,0.474337,0.593845,0.550567,0.054068,5
1,25.259252,2.328814,0.010684,0.001349,1000,0.01,invscaling,"(16, 8, 1)",100,0.1,relu,"{'n_iter_no_change': 1000, 'learning_rate_init...",0.500000,0.855963,0.863045,0.739669,0.169496,4
2,9.153313,1.737266,0.009365,0.000396,100,0.001,adaptive,"(15, 10)",200,0.0001,identity,"{'n_iter_no_change': 100, 'learning_rate_init'...",0.857491,0.853278,0.855688,0.855486,0.001726,2
3,10.628755,2.341397,0.007839,0.001662,10000,0.001,constant,"(16, 8, 1)",200,0.0001,identity,"{'n_iter_no_change': 10000, 'learning_rate_ini...",0.857724,0.858423,0.855885,0.857344,0.001070,1
4,4.097626,0.702093,0.009093,0.002684,10,0.01,invscaling,"(15, 10)",64,0.1,logistic,"{'n_iter_no_change': 10, 'learning_rate_init':...",0.851716,0.851321,0.848250,0.850429,0.001550,3

In [13]:
LinReg_pred_random = random_search.predict(X_test)

In [14]:
probando = pd.DataFrame()
probando['target'] = LinReg_pred_random
probando.describe()

            target
count  2716.000000
mean      0.518174
std       0.276749
min      -0.353489
25%       0.320076
50%       0.591459
75%       0.720125
max       1.163884

In [15]:
random_search.score(X_test, y_test)

0.8416370450945766

In [16]:
loss_random = log_loss(y_test  , LinReg_pred_random)
print(f"Log loss is {loss_random}")

Log loss is 0.5959359587587496

# No Serch

In [17]:
import sklearn as sk
import sklearn.neural_network


lr = 0.001           # learning rate
nn = [2, 16, 8, 1]  # número de neuronas por capa.

# Creamos el objeto del modelo de red neuronal multicapa.
modelRegresor = sk.neural_network.MLPRegressor(solver='adam', 
                                     activation = 'logistic',
                                     learning_rate_init=lr,
                                     hidden_layer_sizes=tuple(nn[1:]),
                                     verbose=True,
                                     n_iter_no_change=1000,
                                     batch_size = 64)

In [18]:
modelRegresor.fit(X_train, y_train)

Iteration 1, loss = 0.37413850
Iteration 2, loss = 0.19945453
Iteration 3, loss = 0.14182870
Iteration 4, loss = 0.12716625
Iteration 5, loss = 0.12458183
Iteration 6, loss = 0.12425088
Iteration 7, loss = 0.12421126
Iteration 8, loss = 0.12421647
Iteration 9, loss = 0.12421145
Iteration 10, loss = 0.12420953
Iteration 11, loss = 0.12420744
Iteration 12, loss = 0.12419793
Iteration 13, loss = 0.12420567
Iteration 14, loss = 0.12418888
Iteration 15, loss = 0.12414361
Iteration 16, loss = 0.12381134
Iteration 17, loss = 0.12027286
Iteration 18, loss = 0.10778773
Iteration 19, loss = 0.09150661
Iteration 20, loss = 0.08532256
Iteration 21, loss = 0.08314646
Iteration 22, loss = 0.08161652
Iteration 23, loss = 0.08086650
Iteration 24, loss = 0.08032618
Iteration 25, loss = 0.07991739
Iteration 26, loss = 0.07968840
Iteration 27, loss = 0.07944583
Iteration 28, loss = 0.07925249
Iteration 29, loss = 0.07930982
Iteration 30, loss = 0.07901708
Iteration 31, loss = 0.07890894
Iteration 32, loss = 0.07905741
Iteration 33, loss = 0.07871650
Iteration 34, loss = 0.07877816
Iteration 35, loss = 0.07865611
Iteration 36, loss = 0.07863856
Iteration 37, loss = 0.07863809
Iteration 38, loss = 0.07879749
Iteration 39, loss = 0.07849135
Iteration 40, loss = 0.07848751
Iteration 41, loss = 0.07833277
Iteration 42, loss = 0.07832094
Iteration 43, loss = 0.07814786
Iteration 44, loss = 0.07825630
Iteration 45, loss = 0.07805291
Iteration 46, loss = 0.07812120
Iteration 47, loss = 0.07811554
Iteration 48, loss = 0.07807721
Iteration 49, loss = 0.07796811
Iteration 50, loss = 0.07796976
Iteration 51, loss = 0.07790003
Iteration 52, loss = 0.07780626
Iteration 53, loss = 0.07780062
Iteration 54, loss = 0.07780492
Iteration 55, loss = 0.07770201
Iteration 56, loss = 0.07769269
Iteration 57, loss = 0.07773942
Iteration 58, loss = 0.07757770
Iteration 59, loss = 0.07748282
Iteration 60, loss = 0.07741390
Iteration 61, loss = 0.07749374
Iteration 62, loss = 0.07732920
Iteration 63, loss = 0.07746698
Iteration 64, loss = 0.07736477
Iteration 65, loss = 0.07731015
Iteration 66, loss = 0.07723111
Iteration 67, loss = 0.07731671
Iteration 68, loss = 0.07710529
Iteration 69, loss = 0.07711662
Iteration 70, loss = 0.07717084
Iteration 71, loss = 0.07716329
Iteration 72, loss = 0.07705543
Iteration 73, loss = 0.07695975
Iteration 74, loss = 0.07700309
Iteration 75, loss = 0.07688723
Iteration 76, loss = 0.07686699
Iteration 77, loss = 0.07691464
Iteration 78, loss = 0.07671245
Iteration 79, loss = 0.07672107
Iteration 80, loss = 0.07658046
Iteration 81, loss = 0.07662262
Iteration 82, loss = 0.07654462
Iteration 83, loss = 0.07658027
Iteration 84, loss = 0.07654646
Iteration 85, loss = 0.07645131
Iteration 86, loss = 0.07639884
Iteration 87, loss = 0.07635559
Iteration 88, loss = 0.07621451
Iteration 89, loss = 0.07630260
Iteration 90, loss = 0.07617678
Iteration 91, loss = 0.07610541
Iteration 92, loss = 0.07606896
Iteration 93, loss = 0.07610373
Iteration 94, loss = 0.07594844
Iteration 95, loss = 0.07602504
Iteration 96, loss = 0.07586275
Iteration 97, loss = 0.07585660
Iteration 98, loss = 0.07581680
Iteration 99, loss = 0.07571256
Iteration 100, loss = 0.07568952
Iteration 101, loss = 0.07566500
Iteration 102, loss = 0.07564291
Iteration 103, loss = 0.07550140
Iteration 104, loss = 0.07542871
Iteration 105, loss = 0.07542006
Iteration 106, loss = 0.07534385
Iteration 107, loss = 0.07524712
Iteration 108, loss = 0.07522983
Iteration 109, loss = 0.07527003
Iteration 110, loss = 0.07512383
Iteration 111, loss = 0.07511096
Iteration 112, loss = 0.07500276
Iteration 113, loss = 0.07509449
Iteration 114, loss = 0.07490661
Iteration 115, loss = 0.07490845
Iteration 116, loss = 0.07494522
Iteration 117, loss = 0.07494732
Iteration 118, loss = 0.07472137
Iteration 119, loss = 0.07485301
Iteration 120, loss = 0.07473728
Iteration 121, loss = 0.07468915
Iteration 122, loss = 0.07470145
Iteration 123, loss = 0.07453566
Iteration 124, loss = 0.07460699
Iteration 125, loss = 0.07458797
Iteration 126, loss = 0.07449958
Iteration 127, loss = 0.07445153
Iteration 128, loss = 0.07444077
Iteration 129, loss = 0.07438492
Iteration 130, loss = 0.07457278
Iteration 131, loss = 0.07435771
Iteration 132, loss = 0.07419302
Iteration 133, loss = 0.07424220
Iteration 134, loss = 0.07410834
Iteration 135, loss = 0.07427996
Iteration 136, loss = 0.07410139
Iteration 137, loss = 0.07423129
Iteration 138, loss = 0.07407548
Iteration 139, loss = 0.07411398
Iteration 140, loss = 0.07395608
Iteration 141, loss = 0.07406025
Iteration 142, loss = 0.07407960
Iteration 143, loss = 0.07410829
Iteration 144, loss = 0.07393040
Iteration 145, loss = 0.07388945
Iteration 146, loss = 0.07387142
Iteration 147, loss = 0.07395882
Iteration 148, loss = 0.07385803
Iteration 149, loss = 0.07382159
Iteration 150, loss = 0.07372041
Iteration 151, loss = 0.07378641
Iteration 152, loss = 0.07379677
Iteration 153, loss = 0.07370286
Iteration 154, loss = 0.07371069
Iteration 155, loss = 0.07364354
Iteration 156, loss = 0.07361440
Iteration 157, loss = 0.07359196
Iteration 158, loss = 0.07363401
Iteration 159, loss = 0.07355058
Iteration 160, loss = 0.07358253
Iteration 161, loss = 0.07351629
Iteration 162, loss = 0.07345163
Iteration 163, loss = 0.07341190
Iteration 164, loss = 0.07352705
Iteration 165, loss = 0.07337351
Iteration 166, loss = 0.07336649
Iteration 167, loss = 0.07371849
Iteration 168, loss = 0.07334456
Iteration 169, loss = 0.07337079
Iteration 170, loss = 0.07318381
Iteration 171, loss = 0.07358695
Iteration 172, loss = 0.07319822
Iteration 173, loss = 0.07319925
Iteration 174, loss = 0.07320858
Iteration 175, loss = 0.07326359
Iteration 176, loss = 0.07329700
Iteration 177, loss = 0.07327578
Iteration 178, loss = 0.07309630
Iteration 179, loss = 0.07313680
Iteration 180, loss = 0.07315648
Iteration 181, loss = 0.07305659
Iteration 182, loss = 0.07314784
Iteration 183, loss = 0.07309700
Iteration 184, loss = 0.07300704
Iteration 185, loss = 0.07305973
Iteration 186, loss = 0.07310414
Iteration 187, loss = 0.07325855
Iteration 188, loss = 0.07292945
Iteration 189, loss = 0.07297134
Iteration 190, loss = 0.07300129
Iteration 191, loss = 0.07294079
Iteration 192, loss = 0.07298633
Iteration 193, loss = 0.07282536
Iteration 194, loss = 0.07297053
Iteration 195, loss = 0.07278935
Iteration 196, loss = 0.07285315
Iteration 197, loss = 0.07291060
Iteration 198, loss = 0.07282918
Iteration 199, loss = 0.07270171
Iteration 200, loss = 0.07291154

MLPRegressor(activation='logistic', batch_size=64,
             hidden_layer_sizes=(16, 8, 1), n_iter_no_change=1000,
             verbose=True)

In [19]:
LinReg_pred = modelRegresor.predict(X_test)

In [20]:
probando = pd.DataFrame()
probando['target'] = LinReg_pred
probando.describe()

            target
count  2716.000000
mean      0.602217
std       0.309079
min      -0.017504
25%       0.300680
50%       0.696388
75%       0.868411
max       1.015976

In [21]:
modelRegresor.score(X_test, y_test)

0.34252770842732805

In [22]:
loss = log_loss(y_test  , LinReg_pred)
print(f"Log loss is {loss}")

Log loss is 0.5345242151147312

In [23]:
#pickle.dump(modelRegresor, open('modeloRegresorRN.p', 'wb'))

# Kaggle

In [24]:
DataFrame_test = pd.read_csv( "/home/bautista/Datos/Machine-Learning-Datos/FeatureEngineering/df_time_series_test.csv" )
DataFrame_test

,Unnamed: 0,Opportunity_ID,Region,Total_Amount,Años en entregar,Month Created,Product_Name,Opportunity_Owner,Delivery_Year,Delivery_Quarter,"Pricing, Delivery_Terms_Approved","Pricing, Delivery_Terms_Quote_Appr",Promedio_Region_Por_Quarter,Promedio_Owner_Por_Year_And_Quarter,Lag_1,Delta
0,171,10792,EMEA,12.087389,0,1,Product_Name_201,Person_Name_13,2019,Q1,1,1,11.753909,11.001991,NaN,11.000704
1,226,10806,EMEA,10.325097,0,1,Product_Name_241,Person_Name_13,2019,Q1,0,1,11.753909,11.001991,NaN,11.000704
2,238,10812,EMEA,11.479095,0,1,Product_Name_303,Person_Name_13,2019,Q1,1,1,11.753909,11.001991,NaN,11.000704
3,270,10836,EMEA,10.155219,0,1,Product_Name_182,Person_Name_13,2019,Q1,1,1,11.753909,11.001991,NaN,11.000704
4,282,10845,EMEA,9.975017,0,1,Product_Name_283,Person_Name_13,2019,Q1,1,1,11.753909,11.001991,NaN,11.000704
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,2519,12347,Americas,15.340732,1,4,Product_Name_487,Person_Name_9,2020,Q2,1,1,13.556432,15.849836,0.905656,15.849826
1563,2520,12348,Americas,16.193551,1,4,Product_Name_475,Person_Name_9,2020,Q2,1,1,13.556432,15.849836,0.905656,15.849826
1564,2521,12349,Americas,15.831542,1,4,Product_Name_432,Person_Name_9,2020,Q2,1,1,13.556432,15.849836,0.905656,15.849826
1565,2522,12350,Americas,16.193551,1,4,Product_Name_475,Person_Name_9,2020,Q3,1,1,14.756877,16.193551,0.939492,16.193544
1566,2523,12351,Americas,14.409093,1,4,Product_Name_488,Person_Name_9,2020,Q4,1,1,14.463019,14.409093,0.905656,14.409049

In [25]:
subir = pd.DataFrame()
subir['Opportunity_ID'] = DataFrame_test['Opportunity_ID']
DataFrame_test = DataFrame_test.drop(columns = {'Opportunity_ID', 'Unnamed: 0', 'Delivery_Year', 'Delivery_Quarter'}).fillna(0)
DataFrame_test

,Region,Total_Amount,Años en entregar,Month Created,Product_Name,Opportunity_Owner,"Pricing, Delivery_Terms_Approved","Pricing, Delivery_Terms_Quote_Appr",Promedio_Region_Por_Quarter,Promedio_Owner_Por_Year_And_Quarter,Lag_1,Delta
0,EMEA,12.087389,0,1,Product_Name_201,Person_Name_13,1,1,11.753909,11.001991,0.000000,11.000704
1,EMEA,10.325097,0,1,Product_Name_241,Person_Name_13,0,1,11.753909,11.001991,0.000000,11.000704
2,EMEA,11.479095,0,1,Product_Name_303,Person_Name_13,1,1,11.753909,11.001991,0.000000,11.000704
3,EMEA,10.155219,0,1,Product_Name_182,Person_Name_13,1,1,11.753909,11.001991,0.000000,11.000704
4,EMEA,9.975017,0,1,Product_Name_283,Person_Name_13,1,1,11.753909,11.001991,0.000000,11.000704
...,...,...,...,...,...,...,...,...,...,...,...,...
1562,Americas,15.340732,1,4,Product_Name_487,Person_Name_9,1,1,13.556432,15.849836,0.905656,15.849826
1563,Americas,16.193551,1,4,Product_Name_475,Person_Name_9,1,1,13.556432,15.849836,0.905656,15.849826
1564,Americas,15.831542,1,4,Product_Name_432,Person_Name_9,1,1,13.556432,15.849836,0.905656,15.849826
1565,Americas,16.193551,1,4,Product_Name_475,Person_Name_9,1,1,14.756877,16.193551,0.939492,16.193544
1566,Americas,14.409093,1,4,Product_Name_488,Person_Name_9,1,1,14.463019,14.409093,0.905656,14.409049

# Encoding

In [26]:
DataFrame_test['Region'] =  DataFrame_test['Region'].map(Mean_encoded_subject_region)

#--------------------------------------------------------------------------------------------

DataFrame_test["Product_Name"] = DataFrame_test["Product_Name"].map(mean_encoded_product)

#--------------------------------------------------------------------------------------------

#DataFrame_test['Delivery_Quarter'] =  DataFrame_test['Delivery_Quarter'].map(Mean_encoded_subject_quarter)

#--------------------------------------------------------------------------------------------

DataFrame_test['Opportunity_Owner'] =  DataFrame_test['Opportunity_Owner'].map(Mean_encoded_subject_owner)
DataFrame_test = DataFrame_test.fillna(0.406068)

In [27]:
DataFrame_test.isnull().sum()

Region                                 0
Total_Amount                           0
Años en entregar                       0
Month Created                          0
Product_Name                           0
Opportunity_Owner                      0
Pricing, Delivery_Terms_Approved       0
Pricing, Delivery_Terms_Quote_Appr     0
Promedio_Region_Por_Quarter            0
Promedio_Owner_Por_Year_And_Quarter    0
Lag_1                                  0
Delta                                  0
dtype: int64

# Prediction

In [28]:
pred_posta = modelRegresor.predict(DataFrame_test)

In [29]:
subir['target'] = pred_posta
subir.set_index('Opportunity_ID', inplace = True)
subir

                  target
Opportunity_ID
10792          -0.029849
10806          -0.027832
10812          -0.029611
10836          -0.027267
10845          -0.027453
...                  ...
12347          -0.030298
12348          -0.030325
12349          -0.030327
12350          -0.030320
12351          -0.030243

[1567 rows x 1 columns]

In [30]:
subir.describe()

            target
count  1567.000000
mean     -0.026070
std       0.028361
min      -0.030502
25%      -0.030085
50%      -0.029474
75%      -0.028094
max       0.690071

In [31]:
#subir.to_csv('RedesNeuronales_Entrega_9.csv')

# Random Search

In [32]:
pred_posta = random_search.predict(DataFrame_test)

In [34]:
subir['target'] = pred_posta
subir

                  target
Opportunity_ID
10792          -0.136945
10806           0.601262
10812          -0.042961
10836           0.775432
10845           0.665877
...                  ...
12347          -0.267525
12348          -0.604637
12349          -0.700715
12350          -0.478323
12351          -0.071334

[1567 rows x 1 columns]

In [35]:
subir.describe()

            target
count  1567.000000
mean      0.353762
std       0.652268
min      -1.645667
25%      -0.067649
50%       0.325813
75%       0.721734
max       3.610881