In [634]:
# Tratamiento de datos
# ==============================================================================
import numpy as np
import pandas as pd
import statsmodels.api as sm
import math

# Preprocesado y modelado
# ==============================================================================
from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import classification_report
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ParameterGrid
from sklearn.inspection import permutation_importance
import multiprocessing

from sklearn.metrics import log_loss
from sklearn.impute import SimpleImputer

from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

import pickle

# Configuración warnings
# ==============================================================================
import warnings
warnings.filterwarnings('ignore')

In [635]:
df = pd.read_csv( "/home/bautista/Datos/Machine-Learning-Datos/FeatureEngineering/df_time_series.csv" )
df = df.drop(columns = {'Unnamed: 0', 'Delivery_Year', 'Delivery_Quarter'})
df

,Region,Total_Amount,TRF,Opportunity_Owner,"Pricing, Delivery_Terms_Approved","Pricing, Delivery_Terms_Quote_Appr",Decision,Promedio_Region_Por_Quarter,Promedio_Owner_Por_Year_And_Quarter,Lag_1,Delta
0,EMEA,13.271783,1,Other,0,1,0,13.892824,13.271783,NaN,17.330865
1,EMEA,12.753460,1,Other,1,1,0,13.912927,12.753460,13.271783,17.306318
2,EMEA,17.332958,80,Other,1,1,0,13.895475,17.332958,12.753460,18.011205
3,APAC,13.386359,2,Other,0,0,0,14.012659,13.386359,17.332958,0.000000
4,APAC,11.377793,0,Person_Name_11,1,1,1,14.255779,12.723426,NaN,17.323551
...,...,...,...,...,...,...,...,...,...,...,...
16767,Americas,14.477339,6,Person_Name_8,1,1,1,14.621714,16.483576,16.318135,17.377829
16768,Americas,14.033311,4,Person_Name_8,1,1,1,14.621714,16.483576,16.318135,17.377829
16769,Americas,14.477339,6,Person_Name_8,1,1,1,14.621714,16.483576,16.318135,17.377829
16770,Americas,18.017027,195,Person_Name_8,1,1,0,14.621714,16.483576,16.318135,17.377829
16771,Americas,18.342448,270,Person_Name_8,1,1,0,14.621714,16.483576,16.318135,17.377829

In [636]:
df = df.fillna(0)

In [637]:
df.describe()

,Total_Amount,TRF,"Pricing, Delivery_Terms_Approved","Pricing, Delivery_Terms_Quote_Appr",Decision,Promedio_Region_Por_Quarter,Promedio_Owner_Por_Year_And_Quarter,Lag_1,Delta
count,16772.000000,16772.000000,16772.000000,16772.000000,16772.000000,16772.000000,16772.000000,16772.000000,16772.000000
mean,10.470044,2.281660,0.585440,0.807834,0.568030,13.255775,12.244222,11.541450,17.309752
std,3.308478,12.084678,0.492661,0.394014,0.495365,1.329157,2.325201,3.965941,0.148853
min,-4.605170,0.000000,0.000000,0.000000,0.000000,11.058881,3.806662,0.000000,0.000000
25%,8.465995,0.000000,0.000000,1.000000,0.000000,11.464494,10.971975,10.113876,17.303476
50%,11.253377,0.000000,1.000000,1.000000,1.000000,13.892824,12.847837,12.894433,17.313452
75%,12.582682,1.000000,1.000000,1.000000,1.000000,14.012659,14.000724,14.075266,17.319557
max,19.568083,500.000000,1.000000,1.000000,1.000000,15.245204,19.568083,17.528668,19.542568

# Encode

In [638]:
Mean_encoded_subject_region = df.groupby(['Region'])['Decision'].mean().to_dict() 

df['Region'] =  df['Region'].map(Mean_encoded_subject_region)

#Mean_encoded_subject_quarter = df.groupby(['Delivery_Quarter'])['Decision'].mean().to_dict() 

#df['Delivery_Quarter'] =  df['Delivery_Quarter'].map(Mean_encoded_subject_quarter)

Mean_encoded_subject_owner = df.groupby(['Opportunity_Owner'])['Decision'].mean().to_dict() 

df['Opportunity_Owner'] =  df['Opportunity_Owner'].map(Mean_encoded_subject_owner)

# Split

In [639]:
X_test = df.tail(math.floor(df.shape[0]*0.20)).drop(columns = {'Decision'})
y_test = df.tail(math.floor(df.shape[0]*0.20))['Decision']
X_train = df.head(round(df.shape[0]*0.80)).drop(columns = {'Decision'})
y_train = df.head(round(df.shape[0]*0.80))['Decision']
X_train

,Region,Total_Amount,TRF,Opportunity_Owner,"Pricing, Delivery_Terms_Approved","Pricing, Delivery_Terms_Quote_Appr",Promedio_Region_Por_Quarter,Promedio_Owner_Por_Year_And_Quarter,Lag_1,Delta
0,0.532241,13.271783,1,0.000000,0,1,13.892824,13.271783,0.000000,17.330865
1,0.532241,12.753460,1,0.000000,1,1,13.912927,12.753460,13.271783,17.306318
2,0.532241,17.332958,80,0.000000,1,1,13.895475,17.332958,12.753460,18.011205
3,0.586506,13.386359,2,0.000000,0,0,14.012659,13.386359,17.332958,0.000000
4,0.586506,11.377793,0,0.342105,1,1,14.255779,12.723426,0.000000,17.323551
...,...,...,...,...,...,...,...,...,...,...
13413,0.586506,13.564794,2,0.820809,1,1,14.255779,12.688738,12.098791,17.317810
13414,0.586506,14.414472,5,0.820809,0,0,13.802683,12.847837,12.688738,17.315139
13415,0.586506,12.565813,1,0.820809,0,0,13.802683,12.847837,12.688738,17.315139
13416,0.586506,11.964511,0,0.820809,0,1,13.802683,12.847837,12.688738,17.315139
13417,0.586506,12.431753,1,0.820809,0,0,13.802683,12.847837,12.688738,17.315139

# Regresion

In [640]:
import sklearn as sk
import sklearn.neural_network


lr = 0.001           # learning rate
nn = [2, 16, 8, 1]  # número de neuronas por capa.

# Creamos el objeto del modelo de red neuronal multicapa.
modelRegresor = sk.neural_network.MLPRegressor(solver='adam', 
                                     activation = 'logistic',
                                     learning_rate_init=lr,
                                     hidden_layer_sizes=tuple(nn[1:]),
                                     verbose=True,
                                     n_iter_no_change=1000,
                                     batch_size = 64)

In [641]:
modelRegresor.fit(X_train, y_train)

Iteration 1, loss = 0.12469581
Iteration 2, loss = 0.12232364
Iteration 3, loss = 0.11518507
Iteration 4, loss = 0.10069316
Iteration 5, loss = 0.09194928
Iteration 6, loss = 0.08629797
Iteration 7, loss = 0.08148674
Iteration 8, loss = 0.07718641
Iteration 9, loss = 0.07261138
Iteration 10, loss = 0.06987237
Iteration 11, loss = 0.06833013
Iteration 12, loss = 0.06754850
Iteration 13, loss = 0.06679578
Iteration 14, loss = 0.06662670
Iteration 15, loss = 0.06631772
Iteration 16, loss = 0.06600736
Iteration 17, loss = 0.06578713
Iteration 18, loss = 0.06550743
Iteration 19, loss = 0.06537931
Iteration 20, loss = 0.06519059
Iteration 21, loss = 0.06523537
Iteration 22, loss = 0.06514593
Iteration 23, loss = 0.06501282
Iteration 24, loss = 0.06465961
Iteration 25, loss = 0.06469197
Iteration 26, loss = 0.06474795
Iteration 27, loss = 0.06470627
Iteration 28, loss = 0.06437961
Iteration 29, loss = 0.06435943
Iteration 30, loss = 0.06424353
Iteration 31, loss = 0.06428105
Iteration 32, loss = 0.06445117
Iteration 33, loss = 0.06416336
Iteration 34, loss = 0.06443850
Iteration 35, loss = 0.06405244
Iteration 36, loss = 0.06417660
Iteration 37, loss = 0.06413713
Iteration 38, loss = 0.06412185
Iteration 39, loss = 0.06404719
Iteration 40, loss = 0.06403748
Iteration 41, loss = 0.06405523
Iteration 42, loss = 0.06398577
Iteration 43, loss = 0.06397589
Iteration 44, loss = 0.06392686
Iteration 45, loss = 0.06397669
Iteration 46, loss = 0.06380088
Iteration 47, loss = 0.06382586
Iteration 48, loss = 0.06390168
Iteration 49, loss = 0.06390922
Iteration 50, loss = 0.06376644
Iteration 51, loss = 0.06400983
Iteration 52, loss = 0.06404698
Iteration 53, loss = 0.06393844
Iteration 54, loss = 0.06397807
Iteration 55, loss = 0.06395230
Iteration 56, loss = 0.06370123
Iteration 57, loss = 0.06373782
Iteration 58, loss = 0.06375506
Iteration 59, loss = 0.06364008
Iteration 60, loss = 0.06381076
Iteration 61, loss = 0.06354802
Iteration 62, loss = 0.06365250
Iteration 63, loss = 0.06370087
Iteration 64, loss = 0.06398494
Iteration 65, loss = 0.06360447
Iteration 66, loss = 0.06361732
Iteration 67, loss = 0.06351503
Iteration 68, loss = 0.06360345
Iteration 69, loss = 0.06393362
Iteration 70, loss = 0.06368463
Iteration 71, loss = 0.06385720
Iteration 72, loss = 0.06355636
Iteration 73, loss = 0.06356609
Iteration 74, loss = 0.06363419
Iteration 75, loss = 0.06348406
Iteration 76, loss = 0.06355585
Iteration 77, loss = 0.06361500
Iteration 78, loss = 0.06345147
Iteration 79, loss = 0.06359969
Iteration 80, loss = 0.06350998
Iteration 81, loss = 0.06341159
Iteration 82, loss = 0.06344639
Iteration 83, loss = 0.06350312
Iteration 84, loss = 0.06361713
Iteration 85, loss = 0.06344664
Iteration 86, loss = 0.06347556
Iteration 87, loss = 0.06340369
Iteration 88, loss = 0.06338535
Iteration 89, loss = 0.06336511
Iteration 90, loss = 0.06341046
Iteration 91, loss = 0.06355075
Iteration 92, loss = 0.06343520
Iteration 93, loss = 0.06333950
Iteration 94, loss = 0.06336655
Iteration 95, loss = 0.06335592
Iteration 96, loss = 0.06330731
Iteration 97, loss = 0.06335965
Iteration 98, loss = 0.06365886
Iteration 99, loss = 0.06341819
Iteration 100, loss = 0.06325721
Iteration 101, loss = 0.06341636
Iteration 102, loss = 0.06326023
Iteration 103, loss = 0.06347286
Iteration 104, loss = 0.06318496
Iteration 105, loss = 0.06332989
Iteration 106, loss = 0.06331562
Iteration 107, loss = 0.06316486
Iteration 108, loss = 0.06320065
Iteration 109, loss = 0.06319845
Iteration 110, loss = 0.06317609
Iteration 111, loss = 0.06314234
Iteration 112, loss = 0.06340955
Iteration 113, loss = 0.06318116
Iteration 114, loss = 0.06318363
Iteration 115, loss = 0.06340398
Iteration 116, loss = 0.06326706
Iteration 117, loss = 0.06334489
Iteration 118, loss = 0.06316852
Iteration 119, loss = 0.06318366
Iteration 120, loss = 0.06317067
Iteration 121, loss = 0.06316953
Iteration 122, loss = 0.06324411
Iteration 123, loss = 0.06323206
Iteration 124, loss = 0.06313456
Iteration 125, loss = 0.06306321
Iteration 126, loss = 0.06311160
Iteration 127, loss = 0.06310135
Iteration 128, loss = 0.06307314
Iteration 129, loss = 0.06340075
Iteration 130, loss = 0.06315189
Iteration 131, loss = 0.06324315
Iteration 132, loss = 0.06309312
Iteration 133, loss = 0.06317517
Iteration 134, loss = 0.06313125
Iteration 135, loss = 0.06309388
Iteration 136, loss = 0.06305569
Iteration 137, loss = 0.06306955
Iteration 138, loss = 0.06303355
Iteration 139, loss = 0.06310950
Iteration 140, loss = 0.06317036
Iteration 141, loss = 0.06307242
Iteration 142, loss = 0.06313743
Iteration 143, loss = 0.06314171
Iteration 144, loss = 0.06330615
Iteration 145, loss = 0.06305730
Iteration 146, loss = 0.06313019
Iteration 147, loss = 0.06306520
Iteration 148, loss = 0.06295384
Iteration 149, loss = 0.06309588
Iteration 150, loss = 0.06308089
Iteration 151, loss = 0.06295225
Iteration 152, loss = 0.06309194
Iteration 153, loss = 0.06318575
Iteration 154, loss = 0.06279122
Iteration 155, loss = 0.06304118
Iteration 156, loss = 0.06284854
Iteration 157, loss = 0.06299306
Iteration 158, loss = 0.06296401
Iteration 159, loss = 0.06301043
Iteration 160, loss = 0.06287647
Iteration 161, loss = 0.06309150
Iteration 162, loss = 0.06282475
Iteration 163, loss = 0.06288090
Iteration 164, loss = 0.06286862
Iteration 165, loss = 0.06296750
Iteration 166, loss = 0.06286659
Iteration 167, loss = 0.06297734
Iteration 168, loss = 0.06290338
Iteration 169, loss = 0.06297500
Iteration 170, loss = 0.06300259
Iteration 171, loss = 0.06288609
Iteration 172, loss = 0.06302356
Iteration 173, loss = 0.06269838
Iteration 174, loss = 0.06282441
Iteration 175, loss = 0.06286832
Iteration 176, loss = 0.06277888
Iteration 177, loss = 0.06284294
Iteration 178, loss = 0.06304567
Iteration 179, loss = 0.06277797
Iteration 180, loss = 0.06274706
Iteration 181, loss = 0.06282512
Iteration 182, loss = 0.06310379
Iteration 183, loss = 0.06280499
Iteration 184, loss = 0.06287071
Iteration 185, loss = 0.06280220
Iteration 186, loss = 0.06291835
Iteration 187, loss = 0.06288242
Iteration 188, loss = 0.06290404
Iteration 189, loss = 0.06283735
Iteration 190, loss = 0.06282934
Iteration 191, loss = 0.06268382
Iteration 192, loss = 0.06272005
Iteration 193, loss = 0.06291807
Iteration 194, loss = 0.06286973
Iteration 195, loss = 0.06267634
Iteration 196, loss = 0.06271017
Iteration 197, loss = 0.06276578
Iteration 198, loss = 0.06266692
Iteration 199, loss = 0.06276238
Iteration 200, loss = 0.06270381

MLPRegressor(activation='logistic', batch_size=64,
             hidden_layer_sizes=(16, 8, 1), n_iter_no_change=1000,
             verbose=True)

In [642]:
LinReg_pred = modelRegresor.predict(X_test)

In [643]:
probando = pd.DataFrame()
probando['target'] = LinReg_pred
probando.describe()

            target
count  3354.000000
mean      0.532715
std       0.298052
min      -0.012716
25%       0.249113
50%       0.518282
75%       0.810015
max       1.012100

In [644]:
modelRegresor.score(X_test, y_test)

0.18079451265763824

In [645]:
loss = log_loss(y_test  , LinReg_pred)
print(f"Log loss is {loss}")

Log loss is 0.5745207563915581

In [646]:
#pickle.dump(modelRegresor, open('modeloRegresorRN.p', 'wb'))

# Kaggle

In [647]:
DataFrame_test = pd.read_csv( "/home/bautista/Datos/Machine-Learning-Datos/FeatureEngineering/df_time_series_test.csv" )
DataFrame_test

,Unnamed: 0,Opportunity_ID,Region,Total_Amount,TRF,Delivery_Year,Opportunity_Owner,Delivery_Quarter,"Pricing, Delivery_Terms_Approved","Pricing, Delivery_Terms_Quote_Appr",Promedio_Region_Por_Quarter,Promedio_Owner_Por_Year_And_Quarter,Lag_1,Delta
0,171,10792,EMEA,12.087389,1,2019,Person_Name_13,Q1,1,1,11.753909,11.001991,NaN,11.000704
1,226,10806,EMEA,10.325097,0,2019,Person_Name_13,Q1,0,1,11.753909,11.001991,NaN,11.000704
2,238,10812,EMEA,11.479095,0,2019,Person_Name_13,Q1,1,1,11.753909,11.001991,NaN,11.000704
3,270,10836,EMEA,10.155219,0,2019,Person_Name_13,Q1,1,1,11.753909,11.001991,NaN,11.000704
4,282,10845,EMEA,9.975017,0,2019,Person_Name_13,Q1,1,1,11.753909,11.001991,NaN,11.000704
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,2519,12347,Americas,15.340732,12,2020,Person_Name_9,Q2,1,1,13.560399,15.849836,2.081695,15.849825
1563,2520,12348,Americas,16.193551,28,2020,Person_Name_9,Q2,1,1,13.560399,15.849836,2.081695,15.849825
1564,2521,12349,Americas,15.831542,20,2020,Person_Name_9,Q2,1,1,13.560399,15.849836,2.081695,15.849825
1565,2522,12350,Americas,16.193551,28,2020,Person_Name_9,Q3,1,1,14.756877,16.193551,2.081695,16.193543
1566,2523,12351,Americas,14.409093,5,2020,Person_Name_9,Q4,1,1,14.463019,14.409093,2.081695,14.409046

In [648]:
subir = pd.DataFrame()
subir['Opportunity_ID'] = DataFrame_test['Opportunity_ID']
DataFrame_test = DataFrame_test.drop(columns = {'Opportunity_ID', 'Unnamed: 0', 'Delivery_Year', 'Delivery_Quarter'}).fillna(0)
DataFrame_test

,Region,Total_Amount,TRF,Opportunity_Owner,"Pricing, Delivery_Terms_Approved","Pricing, Delivery_Terms_Quote_Appr",Promedio_Region_Por_Quarter,Promedio_Owner_Por_Year_And_Quarter,Lag_1,Delta
0,EMEA,12.087389,1,Person_Name_13,1,1,11.753909,11.001991,0.000000,11.000704
1,EMEA,10.325097,0,Person_Name_13,0,1,11.753909,11.001991,0.000000,11.000704
2,EMEA,11.479095,0,Person_Name_13,1,1,11.753909,11.001991,0.000000,11.000704
3,EMEA,10.155219,0,Person_Name_13,1,1,11.753909,11.001991,0.000000,11.000704
4,EMEA,9.975017,0,Person_Name_13,1,1,11.753909,11.001991,0.000000,11.000704
...,...,...,...,...,...,...,...,...,...,...
1562,Americas,15.340732,12,Person_Name_9,1,1,13.560399,15.849836,2.081695,15.849825
1563,Americas,16.193551,28,Person_Name_9,1,1,13.560399,15.849836,2.081695,15.849825
1564,Americas,15.831542,20,Person_Name_9,1,1,13.560399,15.849836,2.081695,15.849825
1565,Americas,16.193551,28,Person_Name_9,1,1,14.756877,16.193551,2.081695,16.193543
1566,Americas,14.409093,5,Person_Name_9,1,1,14.463019,14.409093,2.081695,14.409046

# Encoding

In [649]:
DataFrame_test['Region'] =  DataFrame_test['Region'].map(Mean_encoded_subject_region) 

#DataFrame_test['Delivery_Quarter'] =  DataFrame_test['Delivery_Quarter'].map(Mean_encoded_subject_quarter)

DataFrame_test['Opportunity_Owner'] =  DataFrame_test['Opportunity_Owner'].map(Mean_encoded_subject_owner)
DataFrame_test = DataFrame_test.fillna(0.406068)

In [650]:
DataFrame_test.isnull().sum()

Region                                 0
Total_Amount                           0
TRF                                    0
Opportunity_Owner                      0
Pricing, Delivery_Terms_Approved       0
Pricing, Delivery_Terms_Quote_Appr     0
Promedio_Region_Por_Quarter            0
Promedio_Owner_Por_Year_And_Quarter    0
Lag_1                                  0
Delta                                  0
dtype: int64

# Prediction

In [651]:
pred_posta = modelRegresor.predict(DataFrame_test)

In [652]:
subir['target'] = pred_posta
subir.set_index('Opportunity_ID', inplace = True)
subir

                  target
Opportunity_ID
10792           0.431002
10806           0.474087
10812           0.604836
10836           0.730989
10845           0.748414
...                  ...
12347           0.157009
12348           0.032578
12349           0.091384
12350           0.036080
12351           0.231096

[1567 rows x 1 columns]

In [653]:
subir.describe()

            target
count  1567.000000
mean      0.364428
std       0.193989
min      -0.001015
25%       0.222963
50%       0.304910
75%       0.482467
max       1.015769

In [654]:
#subir.to_csv('RedesNeuronales_Entrega_8.csv')