In [ ]:
import pandas as pd
import numpy as np

import scipy
import matplotlib.pyplot as plt
from pylab import rcParams
import urllib
import sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn import neighbors
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

from sklearn import metrics

In [ ]:
np.set_printoptions(precision=4, suppress = True)
%matplotlib inline
rcParams['figure.figsize'] = 7,4
plt.style.use('seaborn-whitegrid')

In [ ]:
oportunidades = pd.read_csv('/content/drive/My Drive/Entrenamieto_ECI_2020.csv')
oportunidades.dropna(inplace= True)
oportunidades.head()

      ID    Region  ...        Stage       Prod_Category_A
0  27761      EMEA  ...  Closed Lost  Prod_Category_A_None
1  27760      EMEA  ...   Closed Won  Prod_Category_A_None
2  27446  Americas  ...   Closed Won  Prod_Category_A_None
3  16808  Americas  ...  Closed Lost  Prod_Category_A_None
4  16805  Americas  ...  Closed Lost  Prod_Category_A_None

[5 rows x 52 columns]

In [ ]:
X_prime = oportunidades.loc[:,('ASP','ASP_(converted)', 'Delivery_Year')].values
y = oportunidades.loc[:,'Stage'].values

In [ ]:
X = preprocessing.scale(X_prime)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .33, random_state = 17)

In [ ]:
clf = neighbors.KNeighborsClassifier()
clf.fit(X_train, y_train)
print(clf)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
y_espect = y_test
y_pred = clf.predict(X_test)
print(metrics.classification_report(y_espect, y_test))

              precision    recall  f1-score   support

 Closed Lost       1.00      1.00      1.00      1980
  Closed Won       1.00      1.00      1.00      2518
 Negotiation       1.00      1.00      1.00         6
    Proposal       1.00      1.00      1.00        12

    accuracy                           1.00      4516
   macro avg       1.00      1.00      1.00      4516
weighted avg       1.00      1.00      1.00      4516