In [286]:
# Imports necesarios
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm

from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.compose import make_column_selector
from sklearn.metrics import log_loss
from google.colab import files

In [287]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Lectura y Filtrado

In [288]:
df = pd.read_csv( "/content/drive/MyDrive/Orga Datos/TP2/Training.csv" )
df

          ID    Region  ...        Stage       Prod_Category_A
0      27761      EMEA  ...  Closed Lost  Prod_Category_A_None
1      27760      EMEA  ...   Closed Won  Prod_Category_A_None
2      27446  Americas  ...   Closed Won  Prod_Category_A_None
3      16808  Americas  ...  Closed Lost  Prod_Category_A_None
4      16805  Americas  ...  Closed Lost  Prod_Category_A_None
...      ...       ...  ...          ...                   ...
16942   8781      EMEA  ...   Closed Won  Prod_Category_A_None
16943   8786      EMEA  ...   Closed Won  Prod_Category_A_None
16944   8792      EMEA  ...   Closed Won  Prod_Category_A_None
16945  28561  Americas  ...  Closed Lost  Prod_Category_A_None
16946  28318  Americas  ...  Closed Lost  Prod_Category_A_None

[16947 rows x 52 columns]

In [289]:
df.loc[df['Total_Amount_Currency'] == 'JPY', 'Total_Amount'] = df['Total_Amount']*0.0096
df.loc[df['Total_Amount_Currency'] == 'JPY', 'Total_Amount_Currency'] = 'USD'

df.loc[df['Total_Amount_Currency'] == 'EUR', 'Total_Amount'] = df['Total_Amount']*1.17
df.loc[df['Total_Amount_Currency'] == 'EUR', 'Total_Amount_Currency'] = 'USD'

df.loc[df['Total_Amount_Currency'] == 'AUD', 'Total_Amount'] = df['Total_Amount']*0.70
df.loc[df['Total_Amount_Currency'] == 'AUD', 'Total_Amount_Currency'] = 'USD'

df.loc[df['Total_Amount_Currency'] == 'GBP', 'Total_Amount'] = df['Total_Amount']*1.29
df.loc[df['Total_Amount_Currency'] == 'GBP', 'Total_Amount_Currency'] = 'USD'

In [290]:
short_df = df[['Region', 'Delivery_Quarter','Stage',  'Bureaucratic_Code']].rename(columns={'Stage': 'Decision'})
short_df = short_df[ (short_df['Decision'] == 'Closed Won') | (short_df['Decision'] == 'Closed Lost') ]
short_df['Decision'] = np.where(short_df['Decision'] == 'Closed Won',1,0)
short_df.dropna(inplace=True)

In [291]:
test = pd.read_csv( "/content/drive/MyDrive/Orga Datos/TP2/Test_TP2_Datos_2020-2C.csv" )

In [292]:
test.loc[test['Total_Amount_Currency'] == 'JPY', 'Total_Amount'] = test['Total_Amount']*0.0096
test.loc[test['Total_Amount_Currency'] == 'JPY', 'Total_Amount_Currency'] = 'USD'

test.loc[test['Total_Amount_Currency'] == 'EUR', 'Total_Amount'] = test['Total_Amount']*1.17
test.loc[test['Total_Amount_Currency'] == 'EUR', 'Total_Amount_Currency'] = 'USD'

test.loc[test['Total_Amount_Currency'] == 'AUD', 'Total_Amount'] = test['Total_Amount']*0.70
test.loc[test['Total_Amount_Currency'] == 'AUD', 'Total_Amount_Currency'] = 'USD'

test.loc[test['Total_Amount_Currency'] == 'GBP', 'Total_Amount'] = test['Total_Amount']*1.29
test.loc[test['Total_Amount_Currency'] == 'GBP', 'Total_Amount_Currency'] = 'USD'

In [293]:
short_test = test[['Region', 'Delivery_Quarter',  'Bureaucratic_Code']]
short_test.dropna(inplace=True)
#\.rename(columns={'Stage': 'Decision'})
#short_test['Decision'] = np.where(short_test['Decision'] == 'Closed Won',1,0)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# Split

In [294]:
X = short_df.drop( 'Decision', axis=1 )
y = short_df['Decision']
X

         Region Delivery_Quarter    Bureaucratic_Code
0          EMEA               Q2  Bureaucratic_Code_4
1          EMEA               Q1  Bureaucratic_Code_4
2      Americas               Q1  Bureaucratic_Code_4
3      Americas               Q1  Bureaucratic_Code_5
4      Americas               Q1  Bureaucratic_Code_5
...         ...              ...                  ...
16942      EMEA               Q1  Bureaucratic_Code_4
16943      EMEA               Q2  Bureaucratic_Code_4
16944      EMEA               Q1  Bureaucratic_Code_4
16945  Americas               Q2  Bureaucratic_Code_4
16946  Americas               Q3  Bureaucratic_Code_4

[16883 rows x 3 columns]

In [295]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

In [296]:
ohe_1 = OneHotEncoder()
ohe_1.fit(X_train)
ohe_2 = OneHotEncoder()
ohe_2.fit(short_test)


X_train_enc = ohe_1.transform(X_train)
X_test_enc = ohe_1.transform(X_test)
short_test_enc = ohe_1.transform( short_test )

In [297]:
# Creamos el objeto de Regresión Linear
regr = linear_model.LinearRegression()

In [298]:
# Entrenamos nuestro modelo
regr.fit(X_train_enc, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [299]:
# Hacemos las predicciones que en definitiva una línea (en este caso, al ser 2D)
LinReg_pred = regr.predict(X_test_enc)

In [300]:
loss = log_loss(y_test  , LinReg_pred)
print(f"Log loss is {loss}")

Log loss is 0.610745690531869

In [301]:
pred_test = regr.predict( short_test_enc )
pred_test

array([0.59535639, 0.59535639, 0.59535639, ..., 0.59403501, 0.54701777,
       0.25602256])

In [302]:
resultado = pd.DataFrame()
resultado['Opportunity_ID'] = test['Opportunity_ID']
resultado['target'] = pred_test
resultado.sort_values('Opportunity_ID',inplace = True)
resultado = resultado.drop_duplicates('Opportunity_ID',keep = 'last')
resultado.set_index('Opportunity_ID', inplace = True)

In [285]:
csv3 = resultado.to_csv('LinearRegression.csv')
#files.download('LinearRegression.csv')