In [245]:
# Tratamiento de datos
# ==============================================================================
import numpy as np
import pandas as pd
import statsmodels.api as sm
import math

# Preprocesado y modelado
# ==============================================================================
from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import classification_report
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ParameterGrid
from sklearn.inspection import permutation_importance
import multiprocessing

from sklearn.metrics import log_loss
from sklearn.impute import SimpleImputer

from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

import pickle

# Configuración warnings
# ==============================================================================
import warnings
warnings.filterwarnings('ignore')

In [254]:
df = pd.read_csv( "/home/bautista/Datos/Machine-Learning-Datos/FeatureEngineering/df_time_series.csv" )
df = df.drop(columns = {'Unnamed: 0', 'Delivery_Year', 'Delivery_Quarter'})
df

,Region,Total_Amount,TRF,Opportunity_Owner,"Pricing, Delivery_Terms_Approved","Pricing, Delivery_Terms_Quote_Appr",Decision,Promedio_Region_Por_Quarter,Promedio_Owner_Por_Year_And_Quarter,Lag_1,Delta
0,EMEA,10.940740,0,Other,0,0,1,13.892824,13.851341,NaN,16.188413
1,EMEA,11.739922,0,Other,0,0,0,13.892824,13.851341,NaN,16.188413
2,EMEA,11.247114,0,Other,0,0,1,13.892824,13.851341,NaN,16.188413
3,EMEA,12.568870,0,Other,0,0,1,13.892824,13.851341,NaN,16.188413
4,EMEA,12.414720,0,Other,0,0,1,13.892824,13.851341,NaN,16.188413
...,...,...,...,...,...,...,...,...,...,...,...
16767,Americas,14.477339,6,Person_Name_8,1,1,1,14.621714,16.483576,16.318135,16.291171
16768,Americas,14.033311,4,Person_Name_8,1,1,1,14.621714,16.483576,16.318135,16.291171
16769,Americas,14.477339,6,Person_Name_8,1,1,1,14.621714,16.483576,16.318135,16.291171
16770,Americas,18.017027,195,Person_Name_8,1,1,0,14.621714,16.483576,16.318135,16.291171
16771,Americas,18.342448,270,Person_Name_8,1,1,0,14.621714,16.483576,16.318135,16.291171

In [253]:
df = df.fillna(0)

In [ ]:
df

# Encode

In [ ]:
Mean_encoded_subject_region = df.groupby(['Region'])['Decision'].mean().to_dict() 

df['Region'] =  df['Region'].map(Mean_encoded_subject_region)

#Mean_encoded_subject_quarter = df.groupby(['Delivery_Quarter'])['Decision'].mean().to_dict() 

#df['Delivery_Quarter'] =  df['Delivery_Quarter'].map(Mean_encoded_subject_quarter)

Mean_encoded_subject_owner = df.groupby(['Opportunity_Owner'])['Decision'].mean().to_dict() 

df['Opportunity_Owner'] =  df['Opportunity_Owner'].map(Mean_encoded_subject_owner)

# Split

In [ ]:
X_test = df.tail(math.floor(df.shape[0]*0.20)).drop(columns = {'Decision'})
y_test = df.tail(math.floor(df.shape[0]*0.20))['Decision']
X_train = df.head(round(df.shape[0]*0.80)).drop(columns = {'Decision'})
y_train = df.head(round(df.shape[0]*0.80))['Decision']
X_train

# Regresion

In [ ]:
import sklearn as sk
import sklearn.neural_network


lr = 0.01           # learning rate
nn = [2, 16, 8, 1]  # número de neuronas por capa.

# Creamos el objeto del modelo de red neuronal multicapa.
modelRegresor = sk.neural_network.MLPRegressor(solver='adam', 
                                     activation = 'relu',
                                     learning_rate_init=lr,
                                     hidden_layer_sizes=tuple(nn[1:]),
                                     verbose=True,
                                     n_iter_no_change=1000,
                                     batch_size = 64)

In [ ]:
modelRegresor.fit(X_train, y_train)

In [ ]:
LinReg_pred = modelRegresor.predict(X_test)

In [ ]:
probando = pd.DataFrame()
probando['target'] = LinReg_pred
probando.describe()

In [ ]:
modelRegresor.score(X_test, y_test)

In [ ]:
loss = log_loss(y_test  , LinReg_pred)
print(f"Log loss is {loss}")

In [ ]:
#pickle.dump(modelRegresor, open('modeloRegresorRN.p', 'wb'))

# Kaggle

In [ ]:
DataFrame_test = pd.read_csv( "/home/bautista/Datos/Machine-Learning-Datos/FeatureEngineering/df_time_series_test.csv" )
DataFrame_test

In [ ]:
subir = pd.DataFrame()
subir['Opportunity_ID'] = DataFrame_test['Opportunity_ID']
DataFrame_test = DataFrame_test.drop(columns = {'Opportunity_ID', 'Unnamed: 0','Delivery_Year', 'Delivery_Quarter'}).fillna(0)
DataFrame_test

# Encoding

In [ ]:
DataFrame_test['Region'] =  DataFrame_test['Region'].map(Mean_encoded_subject_region) 

#DataFrame_test['Delivery_Quarter'] =  DataFrame_test['Delivery_Quarter'].map(Mean_encoded_subject_quarter)

DataFrame_test['Opportunity_Owner'] =  DataFrame_test['Opportunity_Owner'].map(Mean_encoded_subject_owner)
DataFrame_test = DataFrame_test.fillna(0.406068)

In [ ]:
DataFrame_test.isnull().sum()

# Prediction

In [ ]:
pred_posta = modelRegresor.predict(DataFrame_test)

In [ ]:
subir['target'] = pred_posta
subir.set_index('Opportunity_ID', inplace = True)
subir

In [ ]:
subir.describe()

In [ ]:
subir.to_csv('RedesNeuronales_Entrega_7.csv')