In [344]:
# Tratamiento de datos
# ==============================================================================
import numpy as np
import pandas as pd
import statsmodels.api as sm
import math

# Preprocesado y modelado
# ==============================================================================
from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import classification_report
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ParameterGrid
from sklearn.inspection import permutation_importance
import multiprocessing

from sklearn.metrics import log_loss
from sklearn.impute import SimpleImputer

from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

import pickle

# Configuración warnings
# ==============================================================================
import warnings
warnings.filterwarnings('ignore')

In [345]:
df = pd.read_csv( "/home/bautista/Datos/Machine-Learning-Datos/FeatureEngineering/df_mejorado.csv" )
df = df.drop(columns = 'Unnamed: 0')
df

,Region,Total_Amount,TRF,Opportunity_Owner,Delivery_Year,Delivery_Quarter,"Pricing, Delivery_Terms_Approved","Pricing, Delivery_Terms_Quote_Appr",Decision,Promedio,Lag_1,Delta
0,EMEA,10.940740,0,Other,2016,Q1,0,0,1,13.851341,NaN,16.188413
1,EMEA,11.739922,0,Other,2016,Q1,0,0,0,13.851341,NaN,16.188413
2,EMEA,11.247114,0,Other,2016,Q1,0,0,1,13.851341,NaN,16.188413
3,EMEA,12.568870,0,Other,2016,Q1,0,0,1,13.851341,NaN,16.188413
4,EMEA,12.414720,0,Other,2016,Q1,0,0,1,13.851341,NaN,16.188413
...,...,...,...,...,...,...,...,...,...,...,...,...
16767,Americas,14.477339,6,Person_Name_8,2019,Q3,1,1,1,16.483576,16.318135,16.291171
16768,Americas,14.033311,4,Person_Name_8,2019,Q3,1,1,1,16.483576,16.318135,16.291171
16769,Americas,14.477339,6,Person_Name_8,2019,Q3,1,1,1,16.483576,16.318135,16.291171
16770,Americas,18.017027,195,Person_Name_8,2019,Q3,1,1,0,16.483576,16.318135,16.291171
16771,Americas,18.342448,270,Person_Name_8,2019,Q3,1,1,0,16.483576,16.318135,16.291171

In [346]:
df = df.fillna(0)

In [347]:
df

,Region,Total_Amount,TRF,Opportunity_Owner,Delivery_Year,Delivery_Quarter,"Pricing, Delivery_Terms_Approved","Pricing, Delivery_Terms_Quote_Appr",Decision,Promedio,Lag_1,Delta
0,EMEA,10.940740,0,Other,2016,Q1,0,0,1,13.851341,0.000000,16.188413
1,EMEA,11.739922,0,Other,2016,Q1,0,0,0,13.851341,0.000000,16.188413
2,EMEA,11.247114,0,Other,2016,Q1,0,0,1,13.851341,0.000000,16.188413
3,EMEA,12.568870,0,Other,2016,Q1,0,0,1,13.851341,0.000000,16.188413
4,EMEA,12.414720,0,Other,2016,Q1,0,0,1,13.851341,0.000000,16.188413
...,...,...,...,...,...,...,...,...,...,...,...,...
16767,Americas,14.477339,6,Person_Name_8,2019,Q3,1,1,1,16.483576,16.318135,16.291171
16768,Americas,14.033311,4,Person_Name_8,2019,Q3,1,1,1,16.483576,16.318135,16.291171
16769,Americas,14.477339,6,Person_Name_8,2019,Q3,1,1,1,16.483576,16.318135,16.291171
16770,Americas,18.017027,195,Person_Name_8,2019,Q3,1,1,0,16.483576,16.318135,16.291171
16771,Americas,18.342448,270,Person_Name_8,2019,Q3,1,1,0,16.483576,16.318135,16.291171

In [348]:
df[df['Opportunity_Owner'] == 'Person_Name_65']

,Region,Total_Amount,TRF,Opportunity_Owner,Delivery_Year,Delivery_Quarter,"Pricing, Delivery_Terms_Approved","Pricing, Delivery_Terms_Quote_Appr",Decision,Promedio,Lag_1,Delta
14819,APAC,12.894433,2,Person_Name_65,2016,Q1,0,1,1,12.894433,0.000000,16.127065
14820,APAC,13.122473,1,Person_Name_65,2016,Q3,0,1,0,9.755209,12.894433,16.046724
14821,APAC,8.144679,0,Person_Name_65,2016,Q3,0,0,1,9.755209,12.894433,16.046724
14822,APAC,7.011439,0,Person_Name_65,2016,Q3,1,1,1,9.755209,12.894433,16.046724
14823,APAC,9.370991,0,Person_Name_65,2016,Q3,1,1,1,9.755209,12.894433,16.046724
...,...,...,...,...,...,...,...,...,...,...,...,...
15136,APAC,11.069422,0,Person_Name_65,2018,Q4,1,1,1,12.588356,13.704860,16.022672
15137,APAC,11.069422,0,Person_Name_65,2018,Q4,1,1,1,12.588356,13.704860,16.022672
15138,APAC,12.327051,1,Person_Name_65,2018,Q4,0,0,1,12.588356,13.704860,16.022672
15139,APAC,8.559409,0,Person_Name_65,2018,Q4,1,1,1,12.588356,13.704860,16.022672
15140,APAC,9.937773,0,Person_Name_65,2019,Q1,0,0,1,9.937773,12.588356,16.058301

In [349]:
DataFrame_test['Opportunity_Owner'].value_counts()

0.406068    506
0.649606    130
0.560776     99
0.664537     97
0.597709     94
0.291572     82
0.477011     64
0.472141     62
0.288136     60
0.348000     57
0.794379     53
0.343465     53
0.816770     42
0.661440     42
0.538012     28
0.404332     28
0.252427     22
0.820809     18
0.498246     18
0.722222     11
0.658768      1
Name: Opportunity_Owner, dtype: int64

# Encode

In [350]:
Mean_encoded_subject_region = df.groupby(['Region'])['Decision'].mean().to_dict() 

df['Region'] =  df['Region'].map(Mean_encoded_subject_region)

Mean_encoded_subject_quarter = df.groupby(['Delivery_Quarter'])['Decision'].mean().to_dict() 

df['Delivery_Quarter'] =  df['Delivery_Quarter'].map(Mean_encoded_subject_quarter)

Mean_encoded_subject_owner = df.groupby(['Opportunity_Owner'])['Decision'].mean().to_dict() 

df['Opportunity_Owner'] =  df['Opportunity_Owner'].map(Mean_encoded_subject_owner)

# Split

In [351]:
X_test = df.tail(math.floor(df.shape[0]*0.20)).drop(columns = {'Decision'})
y_test = df.tail(math.floor(df.shape[0]*0.20))['Decision']
X_train = df.head(round(df.shape[0]*0.80)).drop(columns = {'Decision'})
y_train = df.head(round(df.shape[0]*0.80))['Decision']
X_train

,Region,Total_Amount,TRF,Opportunity_Owner,Delivery_Year,Delivery_Quarter,"Pricing, Delivery_Terms_Approved","Pricing, Delivery_Terms_Quote_Appr",Promedio,Lag_1,Delta
0,0.532241,10.940740,0,0.406068,2016,0.514071,0,0,13.851341,0.000000,16.188413
1,0.532241,11.739922,0,0.406068,2016,0.514071,0,0,13.851341,0.000000,16.188413
2,0.532241,11.247114,0,0.406068,2016,0.514071,0,0,13.851341,0.000000,16.188413
3,0.532241,12.568870,0,0.406068,2016,0.514071,0,0,13.851341,0.000000,16.188413
4,0.532241,12.414720,0,0.406068,2016,0.514071,0,0,13.851341,0.000000,16.188413
...,...,...,...,...,...,...,...,...,...,...,...
13413,0.685655,3.743368,0,0.661440,2018,0.573318,1,1,8.028521,7.959184,16.086833
13414,0.685655,7.203406,0,0.661440,2018,0.573318,1,1,8.028521,7.959184,16.086833
13415,0.685655,7.534763,0,0.661440,2018,0.573318,1,1,8.028521,7.959184,16.086833
13416,0.685655,5.152135,0,0.661440,2018,0.573318,1,1,8.028521,7.959184,16.086833
13417,0.685655,2.731767,0,0.661440,2018,0.573318,1,1,8.028521,7.959184,16.086833

# Regresion

In [352]:
import sklearn as sk
import sklearn.neural_network


lr = 0.01           # learning rate
nn = [2, 16, 8, 1]  # número de neuronas por capa.

# Creamos el objeto del modelo de red neuronal multicapa.
modelRegresor = sk.neural_network.MLPRegressor(solver='adam', 
                                     activation = 'relu',
                                     learning_rate_init=lr,
                                     hidden_layer_sizes=tuple(nn[1:]),
                                     verbose=True,
                                     n_iter_no_change=1000,
                                     batch_size = 64)

In [353]:
modelRegresor.fit(X_train, y_train)

Iteration 1, loss = 0.78350317
Iteration 2, loss = 0.14159682
Iteration 3, loss = 0.12370329
Iteration 4, loss = 0.12365358
Iteration 5, loss = 0.12365401
Iteration 6, loss = 0.12365119
Iteration 7, loss = 0.12365755
Iteration 8, loss = 0.12365999
Iteration 9, loss = 0.12367715
Iteration 10, loss = 0.12369293
Iteration 11, loss = 0.12365970
Iteration 12, loss = 0.12366005
Iteration 13, loss = 0.12372354
Iteration 14, loss = 0.12372224
Iteration 15, loss = 0.12367435
Iteration 16, loss = 0.12373524
Iteration 17, loss = 0.12371153
Iteration 18, loss = 0.12366223
Iteration 19, loss = 0.12367475
Iteration 20, loss = 0.12375649
Iteration 21, loss = 0.12365377
Iteration 22, loss = 0.12375341
Iteration 23, loss = 0.12375448
Iteration 24, loss = 0.12371608
Iteration 25, loss = 0.12375562
Iteration 26, loss = 0.12386336
Iteration 27, loss = 0.12371574
Iteration 28, loss = 0.12368131
Iteration 29, loss = 0.12382074
Iteration 30, loss = 0.12376294
Iteration 31, loss = 0.12377040
Iteration 32, loss = 0.12389211
Iteration 33, loss = 0.12377425
Iteration 34, loss = 0.12375669
Iteration 35, loss = 0.12377048
Iteration 36, loss = 0.12372072
Iteration 37, loss = 0.12375751
Iteration 38, loss = 0.12379902
Iteration 39, loss = 0.12382541
Iteration 40, loss = 0.12381598
Iteration 41, loss = 0.12371642
Iteration 42, loss = 0.12374484
Iteration 43, loss = 0.12370503
Iteration 44, loss = 0.12386966
Iteration 45, loss = 0.12371398
Iteration 46, loss = 0.12377542
Iteration 47, loss = 0.12374552
Iteration 48, loss = 0.12382578
Iteration 49, loss = 0.12381294
Iteration 50, loss = 0.12374986
Iteration 51, loss = 0.12381665
Iteration 52, loss = 0.12380694
Iteration 53, loss = 0.12398060
Iteration 54, loss = 0.12378232
Iteration 55, loss = 0.12386115
Iteration 56, loss = 0.12376442
Iteration 57, loss = 0.12379098
Iteration 58, loss = 0.12382373
Iteration 59, loss = 0.12379665
Iteration 60, loss = 0.12378322
Iteration 61, loss = 0.12381354
Iteration 62, loss = 0.12385095
Iteration 63, loss = 0.12374401
Iteration 64, loss = 0.12374398
Iteration 65, loss = 0.12373616
Iteration 66, loss = 0.12377302
Iteration 67, loss = 0.12387172
Iteration 68, loss = 0.12375975
Iteration 69, loss = 0.12379541
Iteration 70, loss = 0.12373873
Iteration 71, loss = 0.12384603
Iteration 72, loss = 0.12377306
Iteration 73, loss = 0.12374989
Iteration 74, loss = 0.12376876
Iteration 75, loss = 0.12377487
Iteration 76, loss = 0.12377981
Iteration 77, loss = 0.12380214
Iteration 78, loss = 0.12380289
Iteration 79, loss = 0.12386203
Iteration 80, loss = 0.12382044
Iteration 81, loss = 0.12370892
Iteration 82, loss = 0.12382423
Iteration 83, loss = 0.12377564
Iteration 84, loss = 0.12381192
Iteration 85, loss = 0.12376330
Iteration 86, loss = 0.12387537
Iteration 87, loss = 0.12375776
Iteration 88, loss = 0.12393171
Iteration 89, loss = 0.12376282
Iteration 90, loss = 0.12373119
Iteration 91, loss = 0.12379094
Iteration 92, loss = 0.12376463
Iteration 93, loss = 0.12379190
Iteration 94, loss = 0.12368140
Iteration 95, loss = 0.12376218
Iteration 96, loss = 0.12382373
Iteration 97, loss = 0.12371834
Iteration 98, loss = 0.12383650
Iteration 99, loss = 0.12374447
Iteration 100, loss = 0.12374780
Iteration 101, loss = 0.12382800
Iteration 102, loss = 0.12383506
Iteration 103, loss = 0.12380800
Iteration 104, loss = 0.12384372
Iteration 105, loss = 0.12380746
Iteration 106, loss = 0.12376252
Iteration 107, loss = 0.12377454
Iteration 108, loss = 0.12373833
Iteration 109, loss = 0.12367243
Iteration 110, loss = 0.12385445
Iteration 111, loss = 0.12384181
Iteration 112, loss = 0.12378180
Iteration 113, loss = 0.12376350
Iteration 114, loss = 0.12389227
Iteration 115, loss = 0.12375617
Iteration 116, loss = 0.12377719
Iteration 117, loss = 0.12382233
Iteration 118, loss = 0.12373551
Iteration 119, loss = 0.12382942
Iteration 120, loss = 0.12374030
Iteration 121, loss = 0.12378150
Iteration 122, loss = 0.12389828
Iteration 123, loss = 0.12380941
Iteration 124, loss = 0.12381863
Iteration 125, loss = 0.12378025
Iteration 126, loss = 0.12390969
Iteration 127, loss = 0.12369976
Iteration 128, loss = 0.12377146
Iteration 129, loss = 0.12372219
Iteration 130, loss = 0.12379690
Iteration 131, loss = 0.12376363
Iteration 132, loss = 0.12367927
Iteration 133, loss = 0.12371503
Iteration 134, loss = 0.12372915
Iteration 135, loss = 0.12380512
Iteration 136, loss = 0.12383961
Iteration 137, loss = 0.12382380
Iteration 138, loss = 0.12383414
Iteration 139, loss = 0.12375167
Iteration 140, loss = 0.12375675
Iteration 141, loss = 0.12368677
Iteration 142, loss = 0.12379363
Iteration 143, loss = 0.12373941
Iteration 144, loss = 0.12380071
Iteration 145, loss = 0.12378177
Iteration 146, loss = 0.12372435
Iteration 147, loss = 0.12384657
Iteration 148, loss = 0.12382359
Iteration 149, loss = 0.12373461
Iteration 150, loss = 0.12376638
Iteration 151, loss = 0.12371066
Iteration 152, loss = 0.12376487
Iteration 153, loss = 0.12381608
Iteration 154, loss = 0.12380727
Iteration 155, loss = 0.12390339
Iteration 156, loss = 0.12374845
Iteration 157, loss = 0.12369679
Iteration 158, loss = 0.12378166
Iteration 159, loss = 0.12375818
Iteration 160, loss = 0.12372410
Iteration 161, loss = 0.12372546
Iteration 162, loss = 0.12376872
Iteration 163, loss = 0.12369090
Iteration 164, loss = 0.12394425
Iteration 165, loss = 0.12379241
Iteration 166, loss = 0.12387849
Iteration 167, loss = 0.12385979
Iteration 168, loss = 0.12377080
Iteration 169, loss = 0.12381112
Iteration 170, loss = 0.12381347
Iteration 171, loss = 0.12378839
Iteration 172, loss = 0.12380368
Iteration 173, loss = 0.12378369
Iteration 174, loss = 0.12374796
Iteration 175, loss = 0.12378779
Iteration 176, loss = 0.12377390
Iteration 177, loss = 0.12377871
Iteration 178, loss = 0.12378589
Iteration 179, loss = 0.12379834
Iteration 180, loss = 0.12376448
Iteration 181, loss = 0.12381048
Iteration 182, loss = 0.12383159
Iteration 183, loss = 0.12374661
Iteration 184, loss = 0.12371383
Iteration 185, loss = 0.12381852
Iteration 186, loss = 0.12382317
Iteration 187, loss = 0.12386427
Iteration 188, loss = 0.12391964
Iteration 189, loss = 0.12377607
Iteration 190, loss = 0.12374048
Iteration 191, loss = 0.12388310
Iteration 192, loss = 0.12373952
Iteration 193, loss = 0.12379097
Iteration 194, loss = 0.12372093
Iteration 195, loss = 0.12378593
Iteration 196, loss = 0.12378491
Iteration 197, loss = 0.12382040
Iteration 198, loss = 0.12388495
Iteration 199, loss = 0.12380616
Iteration 200, loss = 0.12378726

MLPRegressor(batch_size=64, hidden_layer_sizes=(16, 8, 1),
             learning_rate_init=0.01, n_iter_no_change=1000, verbose=True)

In [354]:
LinReg_pred = modelRegresor.predict(X_test)

In [355]:
probando = pd.DataFrame()
probando['target'] = LinReg_pred
probando.describe()

             target
count  3.354000e+03
mean   5.631384e-01
std    2.476167e-14
min    5.631384e-01
25%    5.631384e-01
50%    5.631384e-01
75%    5.631384e-01
max    5.631384e-01

In [356]:
modelRegresor.score(X_test, y_test)

-0.019531397551849627

In [357]:
loss = log_loss(y_test  , LinReg_pred)
print(f"Log loss is {loss}")

Log loss is 0.6680262863467553

In [358]:
#pickle.dump(modelRegresor, open('modeloRegresorRN.p', 'wb'))

# Kaggle

In [359]:
DataFrame_test = pd.read_csv( "/home/bautista/Datos/Machine-Learning-Datos/FeatureEngineering/df_mejorado_test.csv" )
DataFrame_test

,Unnamed: 0,Opportunity_ID,Region,Total_Amount,TRF,Delivery_Year,Opportunity_Owner,Delivery_Quarter,"Pricing, Delivery_Terms_Approved","Pricing, Delivery_Terms_Quote_Appr",Promedio,Lag_1,Delta
0,117,10757,Americas,8.486940,0,2019,Other,Q1,0,0,13.372104,NaN,13.363342
1,125,10758,Americas,8.427017,0,2019,Other,Q1,0,1,13.372104,NaN,13.363342
2,145,10772,Japan,15.193571,0,2019,Other,Q1,1,1,13.372104,NaN,13.363342
3,150,10777,APAC,11.488370,0,2019,Other,Q1,0,0,13.372104,NaN,13.363342
4,151,10778,EMEA,10.838796,0,2019,Other,Q1,1,1,13.372104,NaN,13.363342
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,1445,11690,Americas,17.986044,175,2020,Person_Name_8,Q1,0,1,18.895742,2.628382,18.895707
1563,1451,11691,Americas,16.222451,30,2020,Person_Name_8,Q1,0,1,18.895742,2.628382,18.895707
1564,1524,11748,Americas,17.479071,100,2020,Person_Name_8,Q1,0,1,18.895742,2.628382,18.895707
1565,969,11385,Americas,15.951210,22,2020,Person_Name_8,Q2,1,1,15.951210,2.602818,15.950546
1566,465,10972,Americas,15.370120,13,2020,Person_Name_8,Q3,1,1,15.370120,2.313908,15.368934

In [360]:
subir = pd.DataFrame()
subir['Opportunity_ID'] = DataFrame_test['Opportunity_ID']
DataFrame_test = DataFrame_test.drop(columns = {'Opportunity_ID', 'Unnamed: 0'}).fillna(0)
DataFrame_test

,Region,Total_Amount,TRF,Delivery_Year,Opportunity_Owner,Delivery_Quarter,"Pricing, Delivery_Terms_Approved","Pricing, Delivery_Terms_Quote_Appr",Promedio,Lag_1,Delta
0,Americas,8.486940,0,2019,Other,Q1,0,0,13.372104,0.000000,13.363342
1,Americas,8.427017,0,2019,Other,Q1,0,1,13.372104,0.000000,13.363342
2,Japan,15.193571,0,2019,Other,Q1,1,1,13.372104,0.000000,13.363342
3,APAC,11.488370,0,2019,Other,Q1,0,0,13.372104,0.000000,13.363342
4,EMEA,10.838796,0,2019,Other,Q1,1,1,13.372104,0.000000,13.363342
...,...,...,...,...,...,...,...,...,...,...,...
1562,Americas,17.986044,175,2020,Person_Name_8,Q1,0,1,18.895742,2.628382,18.895707
1563,Americas,16.222451,30,2020,Person_Name_8,Q1,0,1,18.895742,2.628382,18.895707
1564,Americas,17.479071,100,2020,Person_Name_8,Q1,0,1,18.895742,2.628382,18.895707
1565,Americas,15.951210,22,2020,Person_Name_8,Q2,1,1,15.951210,2.602818,15.950546
1566,Americas,15.370120,13,2020,Person_Name_8,Q3,1,1,15.370120,2.313908,15.368934

# Encoding

In [361]:
DataFrame_test['Region'] =  DataFrame_test['Region'].map(Mean_encoded_subject_region) 

DataFrame_test['Delivery_Quarter'] =  DataFrame_test['Delivery_Quarter'].map(Mean_encoded_subject_quarter)

DataFrame_test['Opportunity_Owner'] =  DataFrame_test['Opportunity_Owner'].map(Mean_encoded_subject_owner)

# Prediction

In [362]:
pred_posta = modelRegresor.predict(DataFrame_test)

In [363]:
subir['target'] = pred_posta
subir.set_index('Opportunity_ID', inplace = True)
subir

                  target
Opportunity_ID
10757           0.563138
10758           0.563138
10772           0.563138
10777           0.563138
10778           0.563138
...                  ...
11690           0.563138
11691           0.563138
11748           0.563138
11385           0.563138
10972           0.563138

[1567 rows x 1 columns]

In [364]:
subir.describe()

             target
count  1.567000e+03
mean   5.631384e-01
std    1.310481e-14
min    5.631384e-01
25%    5.631384e-01
50%    5.631384e-01
75%    5.631384e-01
max    5.631384e-01

In [365]:
#subir.to_csv('RedesNeuronales_Entrega_3.csv')